* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top:23px;
    font-family: var(--font);
   /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
   
}

.nav-left span{
    font-size: 55px;
    padding-top:10px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    padding-bottom: 23px;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-big-color);
    font-weight: bolder;

}


.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:50px;
    z-index: 1;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 10px;
    border: 2px solid black;
}

.content {
    display: flex;
    height:100%;
    background-color: rgb(245, 245, 249);
    margin-top:32px;
    padding:9px;
    background-image:url(../image/bg2.avif);
    position:relative;

}
.content::after{
    content:"";
    background-image:url(../image/bg2.avif);
    position:absolute;
    width:100%;
    height:inherit;
    opacity:0.08; 
    border-radius:12px;
}

.home-articles {
   background-color: rgb(252, 248, 248);
   padding:18px;
   margin-top:23px;
position: relative;
}
.year-box{
    position: absolute;
    width:234px;
    height:255px;
    right: 0;
    top: 100px;
}

.home-article {
    margin:25px;
    display:flex;
}
 
.home-article-img {
    width: 550px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}
.home-article-content a{
  text-decoration:none;
    color:black;
}
.footer {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;


}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


.container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}